body {
  font-family: 'Oswald', sans-serif;
}
html{
  background-color: #232323;
}
.header{
  color: #002B6F;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header span{
  color: red;
}
header h1 {
  text-align: left;
  padding: 20px 0;
}
.nav{
  margin: 50px;

}
.nav ul{
  list-style-type: none;
  display: flex;
}
.nav li{
  margin-left: 50px;
}
.nav .a{
  text-decoration: none;
  color: white;
}

.flex-container-section h2 {
  font-size:4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fancy-button {
  background-color: red;
  color: white;
  border: none;
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.fancy-button:hover {
  background-color: rgb(189, 2, 2);
  cursor: pointer;
}

.fancy-button:active {
  background-color: rgb(74, 2, 2);
}

.flex-container-section{
  background-color: black;
  border-radius: 0 0 0 80px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 55px;
  margin: 50px 0px;
  gap: 50px;
}
.flex-container-section a{
  min-width: 250px;
  font-size: 2rem;
  font-weight: 800;
  min-height: 50px;
  border-radius: 25px;
  padding: 11px 20px;
  background-color: red;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  transition-duration: .15s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  text-align: center;
  margin-top: 50px;
}

.flex-container-section a:hover {
  background-color: rgb(189, 2, 2);
  cursor: pointer;
}

.flex-container-section a:active {
  background-color: rgb(74, 2, 2);
}
.flex-container-section p{
  line-height: 3rem;
  font-weight: 700;
  max-width: 457px;
}
.flex-container-section span{
  color: red;
}
footer {
  position: relative;
  background: black;
  min-height: 100px;
  color: white;
  border-radius: 0 0 0 80px;
  margin-top: 50px;
  padding: 50px;
}
footer p{
  text-align: end;
}
.flex-container-footer{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: black;
  
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer ul li{
  padding-bottom: 1em;
  font-size: 13px;
}

footer .flex-container-footer p{
  text-align: start;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 12px;
}
footer .flex-container-footer .text{
  margin-top: 70px;
  
}
footer .info{
  display: flex;
  flex-direction: column;
  padding: 59x;
}
footer h2{
  font-size: 24px;
  color: red;
}
footer a{
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 1100px) {
  .flex-container-section{
    flex-direction: column-reverse;
  }
  .flex-container-section img{
    width: 200px;
    height: 200px;
  }
}
/*  */
#target{
  background-color: white;
}
#target #content {
  font-family: 'Oswald', sans-serif;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #102c57;
}
#target hr{
  background: #102c57;
  height:1px;
}
#target .head{
  color: #102c57;
}
#target .line{
  height: 3px;
}
#target .centered {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#target .job-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#target .contact-info {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#target #letter {
  line-height: 1.5;
}

#target .indent {
  text-indent: 1.5em;
}