html{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: 0px;
}

section {
  padding: 100px;
  margin: 35px 0;
  height: fit-content;
  background-color: #3586ff;
  border: 1px solid #307cee;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
  padding-right: 20px;
}

.right {
  flex: 1;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  text-align: left;
  padding: 20px 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #3586ff;
  margin-bottom: 50px;

}

header p{
  text-align: left;
}


h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}



.content {
  border: 1px solid #ccc;
  padding: 10px;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fancy-button {
  background-color: #0099ff;
  color: white;
  border: none;
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.fancy-button:hover {
  background-color: #0066cc;
  cursor: pointer;
}

.fancy-button:active {
  background-color: #003399;
}
footer {
  position: relative;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #3d80e6 ;
  border-radius: 10px;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
  cursor: pointer;
}

footer .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
  color: #fff;
}