*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.text{
    font-size: 35px;
}
.title{
    font-size: 18px;
    color: #0ef;
}
.paragraph{
    margin-top: 10px;
    font-size: 18px;
}
.icon{
    font-size: 20px;
    margin-top: 14px;
}
.about{
    padding: 110px 0;
    background-color: #1f242b;
    color: white;
}
.head{
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
}
.head h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.img-person{
    height: 190px;
    width: 190px;
    border-radius: 50%;
}
.content{
    margin:auto;
    width: 80vw;
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}
.ssss{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
}
section.active{
    opacity: 1;
    transform: translateX(0);
}
section.left{
    transform: translateX(-100%);
}
section.right{
    transform: translateX(100%);
}
/*-------------------------------------------------*/
.prev,
.next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: .2rem solid #0ef;
    border-radius: 50%;
    color: #0ef;
    margin: 3rem 20px;
    width: 4rem;
    height: 4rem;
    transition: .5s;
  position: absolute;
  top: 70px;
  background: hsl(210, 22%, 49%);
  cursor: pointer;
}
.prev:hover,
.next:hover {
  background: #0ef;
  color: hsl(210, 22%, 49%);
  box-shadow: 0 0 20px #0ef;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
/*-------------------------------------------------*/