*{
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    box-sizing: border-box;
}
.form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f242b;
}
#photo{
    border:#1f242b solid 1px;
}
.container{
    width: 420px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    padding: 30px 40px;
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}
.msg{
    margin-bottom: 13px;
}
.form input{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 40px;
    color: white;
    border: 1px rgba(255, 255, 255, .2) solid ;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
}
.form input::placeholder{
    color: white;
}
.box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}
.box .iii{
        position: absolute;
        right: 20px;
        top:15px;
        font-size: 19px;
}
.form button{
    width: 100%;
    height: 45px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 40px;
}