#fourthPage {
  $imgpath: "../../../assets/information-4.jpg";
  .Background {
    display: grid;
    grid-template-columns: 2fr 1fr;
    @media (max-width: 1200px) {
      display: flex;
    }
    .BackgroundImg {
      @media (max-width: 1200px) {
        display: none;
      }
      height: 89.2vh;
      width: 40vw;
      background: url($imgpath);
      background-size: 40vw;
    }
  }
  .mainWrapper {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    width: 50vw;
    height: 80vh;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 20px;
    border-style: solid;
    border-color: #e8f4f8;
    background-color: white;
    .Wrapper{
      min-height: 62%;
    }
    p {
      font-size: 40px;
      font-weight: bold;
    }
    .inputWrapper {
      min-width: 30vw;
      min-height: 10vh;
      font-size: 20px;
      width: 95%;
      font-size: 20px;
      p{
        font-family:sans-serif;
        font-size: 15px;
      }
      label {
        display: block;
      }
      input {
        border: 1px solid #cacaca;
        margin-bottom: 10px;
        width: 98%;
        padding: 6px 10px;
        &:focus {
          outline: none;
          border-style: solid;
          border-color: rgb(114, 114, 192);
          border-width: 1px;
        }
      }
    }
    .borderbottom {
      border-bottom: 1px solid #ccc;
    }
    .linksWrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      height: 20vh;
      width: 100%;
      .inputWrapper {
        min-width: 20px;
      }
      input {
        width: 85%;
      }
    }
    .buttonsWrapper {
      display: flex;
      width: 94%;
      justify-content: space-between;
      margin-bottom: 3.5px;
    }
    button {
      width: 100px;
      height: 40px;
      border: none;
      font-size: 20px;
      border-radius: 2px;
      border-width: 2px;
    }
    .Next {
      background-color: #102c57;
      color: white;
    }
    .Back {
      background-color: white;
      color: black;
      border-style: solid;
      border-color: #8f8e8e;
    }
    .JobTitle{
    
     input{
      max-width: 80%;
     }
    }
    .JobDesc{

      width : 40%; 
      height: 100%;
    
      
      TextArea{
        border: 1px solid #cacaca;
        width: 90%;
       }
    }
    .From{
      max-width: 12%;
    }
    .To{
      width: 12%;
      
    }
    .Projects{
     

      button{
        background-color: #102c57;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 5px ;

        margin:22px 10px 10px 0px;

        border-radius: 5px ;
        font-size: 15px;
      }
      display: flex;
      justify-content: flex-start;

      align-items: center;

      flex-flow: row nowrap;
     
    }
    .projectWrapper {
      display: flex;
      flex-flow: row wrap;
      min-width: 50vw;

      margin: 20px;

    }

    .Probutton {
      color: white;
      width: 250px;
      background-color: #102c57;
    }
    .hidden{
      display: none;
    } 
  }
  
}
